B1;2305;0c*.cfg
*.log
*.pyc
*.tmproj
*~
settings.py
.project
.pydevproject
*#
bootstrap_helpers/application_list.json
.#*
structured_product_label/data/*
structured_product_label/data.tgz
.settings/*
